@media(max-width:855px){
  nav {
    display: block;
    width: 100%;
    height: 80px;
  }
  .signin{
    float: left;
    margin-left: 10px;
  }
  .inline {
    display: block;
    width: 100%;
  }
}
@media(max-width:480px){
  .inputtext {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  .menuelement {
    display: block;
    width: 100%;
  }
  nav {
    display: block;
    width: 100%;
    height: 120px;
  }

}
